@import url('./amenities.css');
@import url('./hero.css');

.numbers-container {
    position: relative;
    margin: auto;
    height: 100%;
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 414px) {
    .numbers-container {
        width: 414px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .numbers-container {
        width: 1024px;
        padding-left: 47px;
        padding-right: 47px;
    }
}

@media screen and (min-width: 1280px) {
    .numbers-container {
        width: 1280px;
        padding-left: 85px;
        padding-right: 85px;
    }
}
