<section class="about-our-restaurant">
  <div class="about-rest-container">
    <div class="first-content-parts">
      <div class="text-content">
        <h2 class="visually-hidden"></h2>
        <p class="main-text">Amet minim mollit non</p>
        <p class="about-logo">MIMIHO</p>
        <p class="side-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="img-content">
        <picture>
          <source
            srcset="
              ./img/about-our-restaurant/desktop/restaurant-interior-desktop.webp    1x,
              ./img/about-our-restaurant/desktop/restaurant-interior-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/tablet/restaurant-interior-tablet.webp    1x,
              ./img/about-our-restaurant/tablet/restaurant-interior-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/mobile/restaurant-interior-mobile.webp    1x,
              ./img/about-our-restaurant/mobile/restaurant-interior-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1023px)"
          />
          <img
            class="first-img"
            src="./img/about-our-restaurant/restaurant-interior-desktop.jpg"
            alt="restourant interior"
          />
        </picture>
      </div>
    </div>
    <div class="restourant-content">
      <div class="restourant-content-img">
        <picture>
          <source
            srcset="
              ./img/about-our-restaurant/desktop/interior-chairs-desktop.webp    1x,
              ./img/about-our-restaurant/desktop/interior-chairs-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/tablet/interior-chairs-tablet.webp    1x,
              ./img/about-our-restaurant/tablet/interior-chairs-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/mobile/interior-chairs-mobile.webp    1x,
              ./img/about-our-restaurant/mobile/interior-chairs-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1023px)"
          />
          <img
            class="second-img"
            src="./img/about-our-restaurant/interior-chairs-desktop.jpg"
            alt="restoraunt chairs"
          />
        </picture>
      </div>
      <div class="restourant-content-text">
        <p class="minor-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="slider-content-img">
      <ul class="about-img-list">
        <li class="about-img-item">
          <picture>
            <source
              srcset="
                ./img/about-our-restaurant/desktop/tea-desktop.webp    1x,
                ./img/about-our-restaurant/desktop/tea-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/about-our-restaurant/tablet/tea-tablet.webp    1x,
                ./img/about-our-restaurant/tablet/tea-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./img/about-our-restaurant/mobile/tea-mobile.webp    1x,
                ./img/about-our-restaurant/mobile/tea-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1023px)"
            />
            <img
              class="slider-first-img"
              src="./img/about-our-restaurant/tea-desktop.jpg"
              alt="tea on table"
            />
          </picture>
        </li>
        <li class="about-img-item">
          <picture>
            <source
              srcset="
                ./img/about-our-restaurant/desktop/breakfast-desktop.webp    1x,
                ./img/about-our-restaurant/desktop/breakfast-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/about-our-restaurant/tablet/breakfast-tablet.webp    1x,
                ./img/about-our-restaurant/tablet/breakfast-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./img/about-our-restaurant/mobile/breakfast-mobile.webp    1x,
                ./img/about-our-restaurant/mobile/breakfast-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1023px)"
            />
            <img
              class="slider-second-img"
              src="./img/about-our-restaurant/breakfast-desktop.jpg"
              alt="breakfast on table"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="slider-restaurant">
      <button class="left-btn">
        <svg class="about-icon" width="32px" height="32px">
          <use
            href="./img/about-our-restaurant/symbol-defs.svg#icon-left"
          ></use>
        </svg>
      </button>
      <button class="right-btn">
        <svg class="about-icon" width="32px" height="32px">
          <use
            href="./img/about-our-restaurant/symbol-defs.svg#icon-right"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
