<section class="description-hotel-container about-hotel__container">
    <div class="description-hotel">
      <h2 class="visually-hidden">About our hotel</h2>
      <p class="tagline">Amet minim mollit non</p>
      <h3 class="appellation">MIMIHO</h3>
      <ul class="list description-hotel-list">
        <li class="description-hotel-item">
          <p class="text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/about-our-hotel/mobile-modern-studio-apartment.jpg      1x,
                ./img/about-our-hotel/mobile-modern-studio-apartment-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="
                ./img/about-our-hotel/tablet-modern-studio-apartment.jpg    1x,
                ./img/about-our-hotel/tablet-modern-studio-apartment-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/about-our-hotel/desktop-modern-studio-apartment.jpg    1x,
                ./img/about-our-hotel/desktop-modern-studio-apartment-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="first-image"
              src="./img/about-our-hotel/mobile-modern-studio-apartment.jpg"
              alt="Bedroom in a hotel"
            />
          </picture>
        </li>
        <li class="description-hotel-item">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/about-our-hotel/mobile-apartment.jpg    1x,
                ./img/about-our-hotel/mobile-apartment-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="
                ./img/about-our-hotel/tablet-apartment.jpg    1x,
                ./img/about-our-hotel/tablet-apartment-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/about-our-hotel/desktop-apartment.jpg    1x,
                ./img/about-our-hotel/desktop-apartment-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img src="./img/about-our-hotel/mobile-apartment" alt="Apartment hotel" />
          </picture>
          <p class="text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </li>
      </ul>
      <div class="swiper-wrapper-slider">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/about-our-hotel/mobile-registration.jpg    1x,
              ./img/about-our-hotel/mobile-registration-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="
              ./img/about-our-hotel/tablet-registration.jpg    1x,
              ./img/about-our-hotel/tablet-registration-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about-our-hotel/desktop-registration.jpg    1x,
              ./img/about-our-hotel/desktop-registration-2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./img/about-our-hotel/mobile-registration.jpg" alt="Hotel registration" />
        </picture>
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="./img/about-our-hotel/mobile-towels.jpg 1x,
             ./img/about-our-hotel/mobile-towels-2x.jpg 2x"
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="./img/about-our-hotel/tablet-towels.jpg 1x,
             ./img/about-our-hotel/tablet-towels-2x.jpg 2x"
            type="image/jpeg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="./img/about-our-hotel/desktop-towels.jpg 1x,
            ./img/about-our-hotel/desktop-towels-2x.jpg 2x"
            type="image/jpeg"
          />
          <img src="./img/about-our-hotel/mobile-towels.jpg" alt="White towels" />
        </picture>
      </div>
      <div class="item-slider-arrow">
        <button type="button">
          <svg class="slider-icon-arrow" width="32" height="32">
            <use href="./img/about-our-hotel/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button type="button">
          <svg class="slider-icon-arrow" width="32" height="32">
            <use href="./img/about-our-hotel/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
