<section class="contacts">
  <div class="contacts-container">
    <h2 class="contacts-header">Контакти</h2>
    <div class="contacts-wrap">
      <p class="contacts-company-name">MIMIHO</p>
      <p class="contacts-above-header">Ресторанно-готельний комплекc</p>
      <div class="contacts-telephones contact-rest">
        <p class="contacts-text">Ресторан</p>
        <div class="contacts-phone">
          <span class="social-link">
            <svg width="12px" height="19.9px">
              <use href="./img/room/sprite.svg#phone"></use>
            </svg>
          </span>
          <a href="tel:+380955559533" class="contacts-tel">095 555 95 33</a>
        </div>
      </div>
      <div class="contacts-telephones contact-hotel">
        <p class="contacts-text">Готель</p>
        <div class="contacts-phone">
          <span class="social-link">
            <svg width="12px" height="19.9px">
              <use href="./img/room/sprite.svg#phone"></use>
            </svg>
          </span>
          <a href="tel:+380668491089" class="contacts-tel">066 849 10 89</a>
          <a href="tel:+380672758540" class="contacts-tel">067 275 85 40</a>
        </div>
      </div>

      <div class="contacts-adress">
        <a
          href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5991975,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463?hl=uk"
          target="_blank"
          rel="noreferrer noopener"
          class="social-link"
        >
          <svg width="12px" height="19.9px" class="location-icon">
            <use href="./img/room/sprite.svg#hotels-adress"></use>
          </svg>
        </a>
        <address>
          <a
            href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5991975,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463?hl=uk"
            target="_blank"
            rel="noreferrer noopener"
            class="contacts-adress-text"
          >
            Україна, м. Полтава, вул. Маршала Бірюзова, 15
          </a>
        </address>
      </div>
    </div>

    <div class="contacts-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2282.885498936437!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1677103205064!5m2!1suk!2sua"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
