<section class="contacts-box-contacts">
    <div class="contact-container-map container">
    <div class="container ">
        <p class="contacts-logo">  <a class="contacts-logo-text link" href="../../../src/index.html">MIMIHO</a> </p>
        <h3 class="contacts-name">Ресторанно-готельний комплекс</h3>
        <ul class="contacts-data list">            
            <li class="contacts-list-box">
                <div class="contacts-map">
                    <ul class="list contacts-list-polarity">
                        <li class="contacts-link contacts-link-restoran ">
                            <a class="link " href="../../../src/restaurant.html">Ресторан</a> </li>
                        <li>
                            <div>
                                <ul class="contacts-phone-box">
                                    <li>
                                        <a href="tel:+38(095)5559533" class="contacts-social-list-link">
                                            <svg class="contacts-list-icon"  width="24" height="24">
                                            <use href="..//..//img/sprite-cont-footer.svg#icon-phone"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="contacts-phone contacts-phone-mobil">
                                        <a class="link" href="tel:+38(095)5559533">095 555 95 33</a>
                                    </li>
                                </ul>
                            </div> 
                    </li>                        
                    </ul>
                </div>                        
            </li>
            <li class="contacts-list-box">
                <div class="contacts-map">
                    <ul class="list contacts-list-polarity">
                        <li class="contacts-link contacts-link-hotel "> 
                            <a class="link " href="../../../src/hotel.html">Готель</a></li>                                
                        <li>
                            <div class="">
                                <ul class="contacts-phone-box">
                                    <li class="contacts-phone-box-li">
                                        <a href="tel:+38(066)8491089" class="contacts-social-list-link">
                                        <svg class="contacts-list-icon"  width="24" height="24">
                                        <use href="..//..//img/sprite-cont-footer.svg#icon-phone"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="contacts-phone"> 
                                    <a class="link" href="tel:+38(066)8491089">066 849 10 89</a>
                                </li>
                                <li class="contacts-phone"> 
                                    <a class="link" href="tel:+38(067)0672758540">067 275 85 40</a>
                                </li>
                                </ul>
                            </div>                            
                        </li>  
                    </ul>
                </div> 
            </li>
            <li class="contacts-list-box">
                <div class="contacts-map contacts-addres-container">
                    <ul class="list contacts-list-polarity contacts-list-polarity-pc">
                        <li>
                            <a href="" class="contacts-social-list-link">
                                <svg class="contacts-list-icon"  width="24" height="24">
                                <use href="..//..//img/sprite-cont-footer.svg#icon-ukrposhta"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <div class="contacts-addres-box">
                                <p class="contacts-addres">
                                    Україна, м. Полтава, вул. Маршала Бірюзова, 15
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>                        
        </li>
        </ul>
    </div>
    <div class="container contacts-maps-box container">
        <iframe class="container map-hotel-mobil" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.5243576157008!3d49.599193979366994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sua!4v1676704647779!5m2!1sen!2sua" 
        width="384" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe class=" map-hotel-tablet" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.5243576157008!3d49.599193979366994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sua!4v1676704647779!5m2!1sen!2sua"
        width="535" height="412" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe class=" map-hotel-pc" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.5243576157008!3d49.599193979366994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sua!4v1676704647779!5m2!1sen!2sua"
        width="634" height="412" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
    </section>  