<section class="details-of-our-restaurant">
  <div class="details-rest-container">
    <p class="details-logo">MIMIHO</p>
    <h2 class="rest-title">Ресторан</h2>
    <p class="other-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="restourant-content-wrap">
      <div class="restourant-slider">
        <ul class="details-img-list">
          <li class="details-img-item">
            <img
              srcset="
                ./img/details-of-our-restaurant/steak.jpg    1x,
                ./img/details-of-our-restaurant/steak@2x.jpg 2x
              "
              src="./img/details-of-our-restaurant/steak.jpg"
              alt="steak"
            />
          </li>
          <li class="details-img-item">
            <img
              srcset="
                ./img/details-of-our-restaurant/pizza.jpg    1x,
                ./img/details-of-our-restaurant/pizza@2x.jpg 2x
              "
              src="./img/details-of-our-restaurant/pizza.jpg"
              alt="steak"
            />
          </li>
          <li class="details-img-item">
            <picture>
              <source
                srcset="
                  ./img/details-of-our-restaurant/shawarma-desktop.jpg    1x,
                  ./img/details-of-our-restaurant/shawarma-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/details-of-our-restaurant/shawarma-tablet.jpg    1x,
                  ./img/details-of-our-restaurant/shawarma-tablet@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <img
                src="./img/details-of-our-restaurant/shawarma-desktop.jpg"
                alt="shawarma"
              />
            </picture>
          </li>
        </ul>
        <div class="details-slider">
          <button class="left-btn">
            <svg class="details-icon" width="32px" height="32px">
              <use
                href="./img/details-of-our-restaurant/symbol-defs.svg#icon-left"
              ></use>
            </svg>
          </button>
          <button class="right-btn">
            <svg class="details-icon" width="32px" height="32px">
              <use
                href="./img/details-of-our-restaurant/symbol-defs.svg#icon-right"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="restourant-btn-wrap">
        <button type="button" class="reserve-btn" book-table-modal-open>
          Забронювати столик
        </button>
        <a href="./restaurant.html" class="view-menu-link">Переглянути меню</a>
      </div>
    </div>
  </div>
</section>
