<section class="hotel-details hotel-details__overlay container_hotel-details">
    <div class="hotel-details__text-wrap">
    <h1 class="logo hotel-details__logo">MIMIHO</h1>
    <h3 class="hotel-details__headline">Готель</h3>
    <p class="hotel-details__grey-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
  </div>
    <div class="slider hotel-details__slider mob-menu-slider">
        <div class="slide slide1">
          <img srcset="./hotel-details/mob-plate.png x1,
          ./hotel-details/mob-plate-2x.png 2x"
          src="./hotel-details/plate.png" width="80" alt="Plate">
        </div>
        <div class="slide slide2 active-slide">
          <img srcset="./hotel-details/room.png x1,
          ./hotel-details/room-2x.png x2"
          src="./hotel-details/room.png" width="274" alt="Room">
        </div>
      </div>
      <div class=" slider tab-menu__slider">
        <div class="slide slide1">
          <img src="./hotel-details/tablet-registration.png" 
          
          width="162" alt="Registration">
        </div>
        <div class="slide slide2">
          <img srcset="./hotel-details/plate-tablet.png x1,
          ./hotel-details/plate-tablet-2x.png 2x"
          src="./hotel-details/plate-tablet.png" width="162" alt="Plate">
        </div>
        <div class="slide slide3">
          <img  srcset="./hotel-details/room-tablet.png x1,
          ./hotel-details/room-tablet-2x.png x2"
          src="./hotel-details/room-tablet.png" width="270" alt="Room">
        </div>
        <div class="buttons-container buttons-tablet">
          <button class="button book-btn" type="button">Забронювати номер</button>
          <a class="button" href="./hotel.html">Переглянути ціни</a>
      </div>
      </div>
      <div class=" slider desktop-menu__slider">
        <div class="slide slide1">
          <img srcset="./hotel-details/room-desktop.png x1,
          ./hotel-details/room-desktop-2x.png x2"

          src="./hotel-details/room-desktop.png" width="270" alt="Room">
        </div>
        <div class="slide slide2">
          <img srcset="./hotel-details/plate-desktop.png x1,
          ./hotel-details/plate-desktop-2x.png x2"

          src="./hotel-details/plate-desktop.png"  width="162" alt="Plate">
        </div>
        <div class="slide slide3">
          <img  srcset="./hotel-details/desktop-registration.png 1x,
          ./hotel-details/desktop-registration-2x.png 2x"

          src="./hotel-details/desktop-registration.png" width="270" alt="Registration counter">
        </div>
        <div class="buttons-container buttons-tablet">
          <button class="button book-btn" type="button">Забронювати номер</button>
          <a class="button" href="./hotel.html">Переглянути ціни</a>
      </div>
      </div>
      <div class="hotel-details__slider-nav">
        <svg class="hotel-details__left-arrow slider-nav-icon" width="32" height="32">
          <use href="./hotel-details/sprite.svg#arrow-left"></use>
        </svg>
        <svg class="hotel-details__right-arrow slider-nav-icon" width="32" height="32">
          <use href="./hotel-details/sprite.svg#arrow-right"></use>
        </svg>
      </div>
<div class="buttons-container buttons-mobile">
    <button class="button book-btn" type="button">Забронювати номер</button>
    <a class="button" href="./hotel.html">Переглянути ціни</a>
</div>
</section>