<section class="hotel-details hotel-details__overlay container_hotel-details">
  <div class="hotel-details__text-wrap">
  <h1 class="logo">MIMIHO</h1>
  <h3 class="hotel-details__headline">Готель</h3>
  <p class="hotel-details__grey-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
</div>
  <div class="slider hotel-details__slider mob-menu-slider">
      <div class="slide slide1">
        <img srcset="./img/hotel-details/mob-plate.jpg 1x,
        ./img/hotel-details/mob-plate-2x.jpg 2x"
        src="./img/hotel-details/mob-plate-min.jpg" width="80" alt="Plate">
      </div>
      <div class="slide slide2 active-slide">
        <img srcset="./img/hotel-details/mob-room.jpg 1x,
        ./img/hotel-details/mob-room-2x.jpg 2x"
        src="./img/hotel-details/mob-room.jpg" width="274" alt="Room">
      </div>
    </div>

    <div class=" slider tab-menu__slider">
      <div class="slide slide1">
        <img srcset="./img/hotel-details/tab-registration.jpg 1x,
        ./img/hotel-details/tab-registration-2x.jpg 2x"
        src="./img/hotel-details/tab-registration.jpg" 
        width="162" alt="Slide 1">
      </div>
      <div class="slide slide2">
        <img srcset="./img/hotel-details/tab-plate.jpg 1x,
        ./img/hotel-details/tab-plate-2x.jpg 2x"
        src="./img/hotel-details/tab-plate.jpg" width="162" alt="Plate">
      </div>
      <div class="slide slide3">
        <img  srcset="./img/hotel-details/tab-room.jpg 1x,
        ./img/hotel-details/tab-room-2x.jpg 2x"
        src="./img/hotel-details/tab-room.jpg" width="270" alt="Room">
      </div>
      <div class="buttons-container buttons-tablet">
        <button class="button book-btn" type="button">Забронювати номер</button>
        <a class="button" href="./hotel.html">Переглянути ціни</a>
    </div>
    </div>
    <div class=" slider desktop-menu__slider">
      <div class="slide slide1">
        <img srcset="./img/hotel-details/desktop-room.jpg 1x,
        ./img/hotel-details/desktop-room-2x.jpg 2x"

        src="./img/hotel-details/desktop-room.jpg" width="270" alt="Room">
      </div>
      <div class="slide slide2">
        <img srcset="./img/hotel-details/desktop-plate.jpg 1x,
        ./img/hotel-details/desktop-plate-2x.jpg 2x"

        src="./img/hotel-details/desktop-plate.jpg"  width="162" alt="Plate">
      </div>
      <div class="slide slide3">
        <img  srcset="./img/hotel-details/desktop-registration.jpg 1x,
        ./img/hotel-details/desktop-registration-2x.jpg 2x"

        src="./img/hotel-details/desktop-registration.jpg" width="270" alt="Registration counter">
      </div>
      <div class="buttons-container buttons-tablet">
        <button class="button book-btn" type="button">Забронювати номер</button>
        <a class="button" href="./hotel.html">Переглянути ціни</a>
    </div>
    </div>
    <div class="hotel-details__slider-nav">
      <svg class="hotel-details__left-arrow slider-nav-icon" width="32" height="32">
        <use href="./img/hotel-details/sprite.svg#arrow-left"></use>
      </svg>
      <svg class="hotel-details__right-arrow slider-nav-icon" width="32" height="32">
        <use href="./img/hotel-details/sprite.svg#arrow-right"></use>
      </svg>
    </div>

<div class="buttons-container buttons-mobile">
  <button class="button book-btn" type="button">Забронювати номер</button>
  <a class="button" href="./hotel.html">Переглянути ціни</a>
</div>
</section> 
