<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo-content">
      <a class="footer-logo-text" href="./index.html">MIMIHO</a>
    </div>
    <div class="footer-other-content">
      <div class="footer-nav-content">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="./index.html">Головна</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="./restaurant.html">Ресторан</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="./hotel.html">Готель</a>
          </li>
        </ul>
      </div>
      <div class="footer-svg-content">
        <ul class="footer-cards-list">
          <li class="footer-cards-item">
            <a
              href="https://telegram.org/"
              target="_blank"
              class="footer-cards-link"
              rel="noreferrer noopener nofollow"
              >Telegram
              <svg class="footer-first-icon" width="24px" height="24px">
                <use href="./img/footer/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-cards-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="footer-cards-link"
              rel="noreferrer noopener nofollow"
              >Facebook
              <svg class="footer-second-icon" width="24px" height="24px">
                <use href="./img/footer/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-cards-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="footer-cards-link"
              rel="noreferrer noopener nofollow"
              >Instagram
              <svg class="footer-third-icon" width="24px" height="24px">
                <use href="./img/footer/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="footer-icon-list">
          <li class="footer-icon-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="footer-icon-link"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-icon" width="24px" height="24px">
                <use href="./img/footer/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="footer-icon-link"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-icon" width="24px" height="24px">
                <use href="./img/footer/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon-item">
            <a
              href="https://telegram.org/"
              target="_blank"
              class="footer-icon-link"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-icon" width="24px" height="24px">
                <use href="./img/footer/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
