<div class="container-header">
      <nav class="navigation-header">
          <div class="logo-header">
            <a class="logotype-header" href="./index.html">MIMIHO</a>
          </div>
          <ul class="list-header">
            <div class="restaurant-header">
              <div class="mobile-header">
                <li class="item-header">
                  <a class="link-restaurant-header" href="./restaurant.html"
                    >Ресторан</a
                  >
                </li>
                <li class="item-header">
                  <a href="tel:0955559533"
                    ><svg class="phone-mobile-header" width="24px" height="24px">
                      <use
                        href="./img/header-images/header-defs.svg#icon-phone"
                      ></use></svg
                  ></a>
                </li>
              </div>
              <li class="tel-restaurant-header">
                <a class="link-phone-header" href="tel:0955559533"
                  ><svg class="phone-header" width="24px" height="24px">
                    <use
                      href="./img/header-images/header-defs.svg#icon-phone"
                    ></use></svg
                  >095 555 95 33</a
                >
              </li>
            </div>
            <div class="mobile-header">
              <li class="item-header">
                <a class="link-hotel-header" href="./hotel.html">Готель</a>
              </li>
              <li class="item-header">
                <a href="tel:0668491089"
                  ><svg class="phone-mobile-header" width="24px" height="24px">
                    <use
                      href="./img/header-images/header-defs.svg#icon-phone"
                    ></use></svg
                ></a>
              </li>
            </div>
            <li class="tel-hotel-header">
              <a class="link-phone-header" href="tel:0668491089"
                ><svg class="phone-header" width="24px" height="24px">
                  <use
                    href="./img/header-images/header-defs.svg#icon-phone"
                  ></use></svg
                >066 849 10 89</a
              >
            </li>
          </ul>
          <ul class="icons-header">
            <li class="item-header">
              <a
                class="icon-link-header"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                ><svg class="icon-header" width="24px" height="24px">
                  <use
                    href="./img/header-images/header-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="item-header">
              <a
                class="icon-link-header"
                href="https://uk-ua.facebook.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                ><svg class="icon-header" width="25px" height="25px">
                  <use
                    href="./img/header-images/header-defs.svg#icon-facebook"
                  ></use></svg
              ></a>
            </li>
            <li class="item-header">
              <a
                class="icon-link-header"
                href="https://web.telegram.org/z/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                ><svg class="icon-header" width="24px" height="24px">
                  <use
                    href="./img/header-images/header-defs.svg#icon-telegram"
                  ></use></svg
              ></a>
            </li>
          </ul>
      </nav>
  </div>
  