<div class="container">
  <nav class="navigation">
    <div class="logo">
      <a class="logotype" href="../../index.html">MIMINO</a>
    </div>
    <ul class="list">
      <div class="restaurant">
        <div class="mobile">
          <li class="item">
            <a class="link-restaurant" href="../../restaurant.html">Ресторан</a>
          </li>
          <li class="item">
            <a href="tel:0955559533"
              ><svg class="phone-mobile" width="24px" height="24px">
                <use
                  href="./img/header-images/header-defs.svg#icon-phone"
                ></use></svg
            ></a>
          </li>
        </div>
        <li class="tel-restaurant">
          <a class="link-phone" href="tel:0955559533"
            ><svg class="phone" width="24px" height="24px">
              <use
                href="./img/header-images/header-defs.svg#icon-phone"
              ></use></svg
            >095 555 95 33</a
          >
        </li>
      </div>
      <div class="mobile">
        <li class="item">
          <a class="link-hotel" href="../../hotel.html">Готель</a>
        </li>
        <li class="item">
          <a href="tel:0668491089"
            ><svg class="phone-mobile" width="24px" height="24px">
              <use
                href="./img/header-images/header-defs.svg#icon-phone"
              ></use></svg
          ></a>
        </li>
      </div>
      <li class="tel-hotel">
        <a class="link-phone" href="tel:0668491089"
          ><svg class="phone" width="24px" height="24px">
            <use
              href="./img/header-images/header-defs.svg#icon-phone"
            ></use></svg
          >066 849 10 89</a
        >
      </li>
    </ul>
    <ul class="icons">
      <li class="item">
        <a class="icon-link" href=""
          ><svg class="icon" width="24px" height="24px">
            <use
              href="./img/header-images/header-defs.svg#icon-instagram"
            ></use></svg
        ></a>
      </li>
      <li class="item">
        <a class="icon-link" href=""
          ><svg class="icon" width="25px" height="25px">
            <use
              href="./img/header-images/header-defs.svg#icon-facebook"
            ></use></svg
        ></a>
      </li>
      <li class="item">
        <a class="icon-link" href=""
          ><svg class="icon" width="24px" height="24px">
            <use
              href="./img/header-images/header-defs.svg#icon-telegram"
            ></use></svg
        ></a>
      </li>
    </ul>
  </nav>
</div>
