<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
        rel="stylesheet"
    /> 
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="navigation">
                <div class="logo">
                <a class="logotype" href="">MIMINO</a>
                </div>
            <ul class="list">
                <div class="restaurant">
                    <div class="mobile">
                        <li class="item"><a class="link-restaurant" href="">Ресторан</a></li>
                        <li class="item"><a href="tel:0955559533"><svg class="phone-mobile" width="24px" height="24px">
                            <use href="./images/header-defs.svg#icon-phone"></use>
                        </svg></a></li>
                        </div>
                        <li class="tel-restaurant"><a class="link-phone" href="tel:0955559533"><svg class="phone" width="24px" height="24px">
                            <use href="./images/header-defs.svg#icon-phone"></use>
                        </svg>095 555 95 33</a></li>
                </div>
                <div class="mobile">
                <li class="item"><a class="link-hotel" href="">Готель</a></li>
                <li class="item"><a href="tel:0668491089"><svg class="phone-mobile" width="24px" height="24px">
                    <use href="./images/header-defs.svg#icon-phone"></use>
                </svg></a></li>
                </div>
                <li class="tel-hotel"><a class="link-phone" href="tel:0668491089"><svg class="phone" width="24px" height="24px">
                    <use href="./images/header-defs.svg#icon-phone"></use>
                </svg>066 849 10 89</a></li>
            </ul>
            <ul class="icons">
                <li class="icon"><a class="instagram-link" href=""><svg class="instagram-icon" width="24px" height="24px">
                    <use href="./images/header-defs.svg#icon-instagram"></use>
                </svg></a></li>
                <li class="icon"><a class="facebook-link" href=""><svg class="facebook-icon" width="25px" height="25px">
                    <use href="./images/header-defs.svg#icon-facebook"></use>
                </svg></a></li>
                <li class="icon"><a class="telegram-link" href=""><svg class="telegram-icon" width="24px" height="24px">
                    <use href="./images/header-defs.svg#icon-telegram"></use>
                </svg></a></li>
            </ul>
            </nav>
        </div>
        </header>
</body>
</html>