<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" />
    <link rel="stylesheet" href="../Hero-css/style-hero.css" />
    <title>Main page</title>
</head>

<body>
    <!-- Hero -->
    <section class="container">
        <div class="adress-box">
            <svg class="hero-icon" width="24px" height="24px">
                <use href="../img/symbol-defs.svg#icon-entypo_location-pin"></use>
            </svg>
            <p>
                Україна, м. Полтава,
                вул. Маршала Бірюзова, 15
            </p>
        </div>
        <h1>mimino</h1>
        <p>Ресторанно-готельний комплекс</p>
        <h2>смак життя 24/7</h2>
        <button type="button" class="btn-table">Забронювати столик</button>
        <button type="button" class="btn-room">Забронювати номер</button>
        <ul class="hero-list">
            <li class="hero-item">
                <a class="hero-link" href="">
                    <svg class="hero-icon" width="24px" height="24px">
                        <use href="../img/symbol-defs.svg#icon-akar-icons_instagram-fill"></use>
                    </svg>
                </a>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="">
                    <svg class="hero-icon" width="24px" height="24px">
                        <use href="../img/symbol-defs.svg#icon-jam_facebook-square"></use>
                    </svg>
                </a>
            </li>
            <li class="hero-item">
                <a class="hero-link" href="">
                    <svg class="hero-icon" width="24px" height="24px">
                        <use href="../img/symbol-defs.svg#icon-la_telegram-plane"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </section>
</body>

</html>