<!-- Hero -->
<div class="container">
<section class="hero">
    <div class="adress-box-mobile">
        <svg class="hero-icon" width="20px" height="20px">
            <use href="../../img/hero-img/symbol-defs.svg#icon-entypo_location-pin"></use>
        </svg>
        <p>
            Україна, м. Полтава, <br>вул. Маршала Бірюзова, 15
        </p>
    </div>
    <h1>mimiho</h1>
    <p class="hero-text">Ресторанно-готельний комплекс</p>
    <h2>смак життя 24/7</h2>
    <div class="btn-adress-box">
        <div class="adress-box">
            <svg class="hero-icon" width="20px" height="20px">
                <use href="../../img/hero-img/symbol-defs.svg#icon-entypo_location-pin"></use>
            </svg>
            <p>
                Україна, м. Полтава, <br>вул. Маршала Бірюзова, 15
            </p>
        </div>
        <button type="button" class="hero-btn" data-modal-1-open>Забронювати столик</button>
        <button type="button" class="hero-btn" data-modal-2-open>Забронювати номер</button>
    </div>
    <ul class="hero-list">
        <li class="hero-item">
            <a class="hero-link" href="">
                <svg class="social-icon" width="24px" height="24px">
                    <use href="../../img/hero-img/symbol-defs.svg#icon-akar-icons_instagram-fill"></use>
                </svg>
            </a>
        </li>
        <li class="hero-item">
            <a class="hero-link" href="">
                <svg class="social-icon" width="24px" height="24px">
                    <use href="../../img/hero-img/symbol-defs.svg#icon-jam_facebook-square"></use>
                </svg>
            </a>
        </li>
        <li class="hero-item">
            <a class="hero-link" href="">
                <svg class="social-icon" width="24px" height="24px">
                    <use href="../../img/hero-img/symbol-defs.svg#icon-la_telegram-plane"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>
</div>