<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <load src="./header.html" />
    </header>
    <main>
      <load src="./hero.html" />
      <load src="./about-our-restaurant.html" />
      <load src="./details-of-our-restaurant.html" />
      <load src="./about-our-hotel.html" />
      <load src="./details-of-our-hotel.html" />
      <load src="./contacts.html" />
    </main>
    <footer>
      <load src="./footer.html" />
    </footer>
  </body>
</html>
