<div class="backdrop is-hidden" book-table-modal-window>
  <div class="modal-table">
    <button type="button" class="modal-close-button" data-modal-close-two>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
      >
        <path
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m20.572 2.571-18 18M2.572 2.571l18 18"
        />
      </svg>
    </button>
    <p class="modal-window-title">ЗАБРОНЮВАТИ СТОЛИК</p>
    <form class="modal-form">
      <div class="form-inputs">
        <div class="inputs-containers">
          <label>
            <input
              class="general-input"
              type="text"
              name="user-name"
              pattern="^[a-zA-Zа-яА-ЯіІїЇ]+"
              minlength="2"
              placeholder="Ваше ім’я"
            />
            <span class="text-inside-inputs">На кого забронювати столик?</span>
          </label>
        </div>
        <div class="inputs-containers">
          <label>
            <input
              class="general-input"
              type="tel"
              name="user-phone"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
              minlength="2"
              placeholder="+38 (___) ___-__-__"
            />
            <span class="text-inside-inputs">Номер телефону</span>
          </label>
        </div>
        <div class="inputs-containers">
          <label>
            <select class="general-input selectos">
              <option value="value1">1</option>
              <option value="value2">2</option>
              <option value="value2">3</option>
              <option value="value2">4</option>
              <option value="value2">5</option>
              <option value="value2">6</option>
              <option value="value2">7</option>
              <option value="value2">8</option>
              <option value="value2">9</option>
              <option value="value2">10</option>
            </select>
            <span class="text-inside-inputs"
              >Столик на яку кількість осіб?</span
            >
          </label>
        </div>
        <div class="inputs-containers date-input">
          <label class="input-with-date-arrow">
            <input class="general-input" type="text" placeholder="Сьогодні" />
            <span class="text-inside-inputs">На яку дату бронювати?</span>
          </label>
        </div>
      </div>
      <button
        type="submit"
        class="modal-form-button"
        data-modal-close-book-table-modal-window
      >
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>
