<div class="backdrop is-hidden" data-modal>
    <div class="modal-table">
      <button type="button" class="modal-close-button" data-modal-close>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"> 
          <path 
            stroke="#000" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="1.5" 
            d="m20.572 2.571-18 18M2.572 2.571l18 18" 
          /> 
        </svg> 
      </button>
      <h2 class="modal-window-title">ЦІНИ НА НОМЕР</h2>
      <form class="modal-form">
        <div class="form-inputs">
          <p class="room"> Двомісний люкс</p>
        </div>
        <div class="room-category">
          <span class="text-inside"
            >Категорія номеру</span>
          </div>
          <div class="in-cont">
         <div class="inputs-containers">
          <label>
              <select class="general-input selectos">
                <option value="value1">1</option>
                <option value="value2">2</option>
                <option value="value2">3</option>
                <option value="value2">4</option>
                <option value="value2">5</option>
                <option value="value2">6</option>
                <option value="value2">7</option>
                <option value="value2">8</option>
                <option value="value2">9</option>
                <option value="value2">10</option>
              </select>
            </div>
            <span class="modal-form-input-name"
              >Кількість ночей</span
            >
          </label>
        </div>
        <div class="modal-item">
          <label class="modal-form-label">
              <input
                type="text"
                name="user-phone"
                class="modal-form-input"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                minlength="2"
                placeholder="1000"
              />
              <div>
                <select name="number-persons" class="select visually-hidden">
                  <option value="value1">1</option>
                  <option value="value2">2</option>
                  <option value="value2">3</option>
                  <option value="value2">4</option>
                  <option value="value2">5</option>
                  <option value="value2">6</option>
                  <option value="value2">7</option>
                  <option value="value2">8</option>
                  <option value="value2">9</option>
                  <option value="value2">10</option>
                </select>
              </div>
            
            <span class="modal-form-input-name">грн</span>
          </label>
        </div>
    </div>
        <button type="submit" class="modal-form-button" data-modal-close>
            ЗАБРОНЮВАТИ НОМЕР
        </button>
      </form>
    </div>
  </div>

