@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('./../../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('./../../assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('./../../assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('./../../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Film P3 Bold';
  font-weight: 700;
  src: url('./../../assets/fonts/FilmP3Bold.ttf');
}
@font-face {
  font-family: 'Film P3';
  font-weight: 400;
  src: url('./../../assets/fonts/FilmP3.ttf');
}

body {
  font-family: 'Montserrat', 'Film P3', 'Film P3 Bold', 'sans-serif';
  background-color: #FFFDEE;
}
