.hero-title-restaurant {
    width: 283px;
    height: 103px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}
.hero-subtitle-restaurant {
    margin-top: 20px;
    margin-bottom: 44px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover,
.hero-link:focus,
.hero-link:active {
    border: 1px solid #605B5B;
    background-color: #605B5B;
}

/* MOBILE VERSION */
@media screen and (max-width: 1023px) {
    .hero-container {
        background: #2c2c37;
        width: 100%;
    }
    .hero-adress-box {
        display: none;
    }
    .hero-restaurant {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url('../../img/hero-img/hero-mobile-restourant.webp');
        background-size: cover;
        max-width: 414px;
        margin: 0 auto;
        padding: 64px 15px 20px 15px;
        text-align: center;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-restaurant {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url('../../img/hero-img/hero-mobile-restourant@2x.webp');
        }
    }
    .adress-box-mobile {
        position: relative;
        display: flex;
        text-align: left;
        margin-left: auto;
        width: 210px;
        height: 47px;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }
    .adress-box-mobile>p {
        margin-top: 8px;
        margin-left: 34px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.01em;
        color: #E5E5E5;
    }
    .hero-icon {
        position: absolute;
        margin-top: 13px;
        margin-left: 6px;
    }
    .hero-text-restaurant {
        margin-bottom: 113px;
        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 32px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .hero-btn+.hero-btn {
        margin-top: 24px;
    }
    .hero-btn-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 236px;
        height: 48px;
        padding: 0;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #F3C653;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-btn-link:hover,
    .hero-btn-link:focus,
    .hero-btn-link:active {
        background-color: #FFFFFF;
        border-color: #F3C653;
    }
    .hero-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 236px;
        height: 48px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #F3C653;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-btn:hover,
    .hero-btn:focus,
    .hero-btn:active {
        background-color: #FFFFFF;
        border-color: #F3C653;
    }
    .hero-list {
        display: flex;
        justify-content: left;
        width: 112px;
        height: 24px;
        margin-top: 58px;
        gap: 20px;
    }
}

/* TABLET VERSION */
@media screen and (min-width: 1024px) {
    .hero-container {
        background: #2c2c37;
        width: 100%;
    }
    .adress-box-mobile {
        display: none;
    }
    .hero-title-restaurant {
        width: 378px;
        height: 138px;
        margin-top: 0;
        font-size: 128px;
        line-height: 1.08;
    }
    .hero-subtitle-restaurant {
        margin-top: 16px;
        margin-bottom: 56px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
    }
    .hero-restaurant {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url('../../img/hero-img/hero-tablet-restourant.webp');
        background-size: cover;
        max-width: 1024px;
        margin: 0 auto;
        padding: 188px 47px 20px 47px;
        text-align: center;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-restaurant {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url('../../img/hero-img/hero-tablet-restourant@2x.webp');
        }
    }
    .hero-adress-box {
        position: relative;
        display: flex;
        text-align: left;
        margin-right: 137px;
        width: 285px;
        height: 56px;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }
    .hero-adress-box>p {
        margin-top: 8px;
        margin-left: 44px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.01em;
        color: #E5E5E5;
    }
    .hero-icon {
        position: absolute;
        margin-top: 16px;
        margin-left: 10px;
    }
    .hero-text-restaurant {
        margin-bottom: 136px;
        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.14;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .hero-btn-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 236px;
        height: 48px;
        padding: 0;
        margin-top: 8px;
        margin-left: 40px;
        background-color: rgba(0, 0, 0, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #F3C653;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-btn-link:hover,
    .hero-btn-link:focus,
    .hero-btn-link:active {
        background-color: #FFFFFF;
        border-color: #F3C653;
    }
    .hero-btn {
        width: 236px;
        height: 48px;
        padding: 0;
        margin-top: 8px;
        background-color: rgba(0, 0, 0, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #F3C653;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-btn:hover,
    .hero-btn:focus,
    .hero-btn:active {
        background-color: #FFFFFF;
        border-color: #F3C653;
    }
    .btn-adress-box {
        display: flex;
    }
    .hero-list {
        display: flex;
        justify-content: left;
        width: 112px;
        height: 24px;
        margin-top: 58px;
        gap: 20px;
    }
}

/* DESKTOP VERSION */
@media screen and (min-width: 1280px) {
    .hero-container {
        background: #2c2c37;
        width: 100%;
    }
    .adress-box-mobile {
        display: none;
    }
    .hero-title-restaurant {
        width: 378px;
        height: 138px;
        margin-top: 0;
        font-size: 128px;
        line-height: 1.08;
    }
    .hero-subtitle-restaurant {
        margin-top: 32px;
        margin-bottom: 64px;
    }
    .hero-restaurant {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url('../../img/hero-img/hero-desctop-restourant.webp');
        background-size: cover;
        max-width: 1280px;
        margin: 0 auto;
        padding: 188px 85px 65px 85px;
        text-align: center;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-restaurant {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url('../../img/hero-img/hero-desctop-restourant@2x.webp');
        }
    }
    .hero-adress-box {
        position: relative;
        display: flex;
        text-align: left;
        margin-right: 253px;
        width: 285px;
        height: 56px;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }

    .hero-adress-box>p {
        margin-top: 8px;
        margin-left: 44px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.01em;
        color: #E5E5E5;
    }
    .hero-icon {
        position: absolute;
        margin-top: 16px;
        margin-left: 10px;
    }
    .hero-btn+.hero-btn {
        margin-left: 60px;
    }
    .hero-btn {
        width: 256px;
        height: 48px;
        padding: 0;
        margin-top: 8px;
        background-color: rgba(0, 0, 0, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #F3C653;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-btn:hover,
    .hero-btn:focus,
    .hero-btn:active {
        background-color: #FFFFFF;
        border-color: #F3C653;
    }
    .btn-adress-box {
        display: flex;
    }
    .hero-list {
        display: none;
    }
}
