     <section class="hotel-luxe-room">
        <div class="container">
          <div class="hotel-luxe-room-top">
            <p class="hotel-luxe-room-subtitle">Amet minim mollit non</p>
            <p class="hotel-name">MIMIHO</p>
            <h2 class="hotel-luxe-room-title">ДВОМІСНИЙ НОМЕР</h2>
            <p class="hotel-luxe-room-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <picture>
            <source
              srcset="
                ./img/1-room-luxe-for-2-adult/luxe-apartment-desk.jpg    1x,
                ./img/1-room-luxe-for-2-adult/luxe-apartment-desk@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/1-room-luxe-for-2-adult/luxe-apartment-tab.jpg    1x,
                ./img/1-room-luxe-for-2-adult/luxe-apartment-tab@2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./img/1-room-luxe-for-2-adult/luxe-apartment-mob.jpg    1x,
                ./img/1-room-luxe-for-2-adult/luxe-apartment-mob@2x.jpg 2x
              "
              media="(max-width:414px)"
            />
            <img
              class="hotel-luxe-room-image"
              src="./img/1-room-luxe-for-2-adult/luxe-apartment-desk.jpg"
              alt="Інтер'єр номера класу люкс"
            />
          </picture>
          <div class="hotel-luxe-room-bottom">
            <div class="slider js--slider">
              <div class="slider-items">
                <div class="slider-item active" id="slide-1">
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/interior-desk.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/interior-desk.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/interior-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/interior-tab.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/interior-mob.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/interior-mob@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/interior-desk.jpg"
                      alt="Інтер'єр"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/reception-desk.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/reception-desk@2x.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/reception-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/reception-tab@2x.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/reception-mob.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/reception-mob@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/reception-desk.jpg"
                      alt="Рецепція"
                    />
                  </picture>
                </div>
                <div class="slider-item" id="slide-2">
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/breakfast-desk.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/breakfast-desk@2x.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/breakfast-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/breakfast-tab@2x.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/breakfast-mob.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/breakfast-mob@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/breakfast-desk.jpg"
                      alt="Сніданок"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/romantic-dinner-desk.jpg    1x,
                       ./img/1-room-luxe-for-2-adult/romantic-dinner-desk@2x.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/romantic-dinner-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/romantic-dinner-tab@2x.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/romantic-dinner-mob.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/romantic-dinner-mob@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/romantic-dinner-desk.jpg"
                      alt="Романтична вечеря"
                    />
                  </picture>
                </div>
                <div class="slider-item" id="slide-3">
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/sofa-desk.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/sofa-desk@2x.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/sofa-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/sofa-tab@2x.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                       ./img/1-room-luxe-for-2-adult/sofa-mob.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/sofa-mob@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/sofa-desk.jpg"
                      alt="М'який диван"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/soft-corner-desk.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/soft-corner-desk@2x.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                       ./img/1-room-luxe-for-2-adult/soft-corner-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/soft-corner-tab@2x.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/soft-corner-mob.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/soft-corner-mobk@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/soft-corner-desk.jpg"
                      alt="М'який куток"
                    />
                  </picture>
                </div>
                <div class="slider-item" id="slide-4">
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/supper-desk.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/supper-desk@2x.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/supper-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/supper-tab@2x.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/supper-mob.jpg    1x,
                       ./img/1-room-luxe-for-2-adult/supper-mob@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/supper-desk.jpg"
                      alt="Смачна вечеря"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/towel-desk.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/towel-desk@2x.jpg 2x
                      "
                      media="(min-width:1280px)"
                    />
                    <source
                      srcset="
                        ./img/1-room-luxe-for-2-adult/towel-tab.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/towel-tab@2x.jpg 2x
                      "
                      media="(min-width:1024px)"
                    />
                    <source
                      srcset="
                       ./img/1-room-luxe-for-2-adult/towel-mob.jpg    1x,
                        ./img/1-room-luxe-for-2-adult/towel-mob@2x.jpg 2x
                      "
                      media="(max-width:414px)"
                    />
                    <img
                      class="luxe-room-slider"
                      src="./img/1-room-luxe-for-2-adult/towel-desk.jpg"
                      alt="Речі для ванних процедур"
                    />
                  </picture>
                </div>
              </div>
              <div class="slider-controls">
                <button class="slider-prev"><span>&#8592;</span></button>
                <a href="#slide-1" class="slider-control active visually-hidden"
                  >1</a
                >
                <a href="#slide-2" class="slider-control visually-hidden">2</a>
                <a href="#slide-3" class="slider-control visually-hidden">3</a>
                <a href="#slide-4" class="slider-control visually-hidden">4</a>
                <button class="slider-next"><span>&#8594;</span></button>
              </div>
              <div class="hotel-luxe-room-buttons">
                <a class="hotel-luxe-room-link" href="./room-page.html"
                  >Детальніше</a
                >
                <button type="button" class="hotel-luxe-room-button">
                  Переглянути ціни
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script src="./js/1-room-luxe-for-2-adult.js"></script>