<section class="hotel-double-room">
  <div class="hotel-double-room-container">
    <div class="hotel-double-room-top">
      <p class="hotel-double-room-subtitle">Amet minim mollit non</p>
      <p class="hotel-double-room-name">MIMIHO</p>
      <h2 class="hotel-double-room-title">ДВОМІСНИЙ НОМЕР</h2>
      <p class="hotel-double-room-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ./img/1-room-luxe-for-2-adult/luxe-apartment-desk.jpg    1x,
          ./img/1-room-luxe-for-2-adult/luxe-apartment-desk@2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./img/1-room-luxe-for-2-adult/luxe-apartment-tab.jpg    1x,
          ./img/1-room-luxe-for-2-adult/luxe-apartment-tab@2x.jpg 2x
        "
        media="(min-width:1024px)"
      />
      <source
        srcset="
          ./img/1-room-luxe-for-2-adult/luxe-apartment-mob.jpg    1x,
          ./img/1-room-luxe-for-2-adult/luxe-apartment-mob@2x.jpg 2x
        "
        media="(max-width:414px)"
      />
      <img
        class="hotel-double-room-image"
        src="./img/1-room-luxe-for-2-adult/luxe-apartment-desk.jpg"
        alt="Інтер'єр номеру для двох"
      />
    </picture>
    <div class="hotel-double-room-bottom">
      <div class="hotel-double-slider js--slider">
        <div class="slider-items">
          <div class="slider-item active" id="slide-1">
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/supper-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/supper-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/supper-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/supper-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/supper-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/supper-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider card-right"
                src="./img/1-room-luxe-for-2-adult/supper-desk.jpg"
                alt="Вечеря"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/towel-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/towel-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/towel-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/towel-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/towel-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/towel-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider"
                src="./img/1-room-luxe-for-2-adult/towel-desk.jpg"
                alt="Речі для ванної"
              />
            </picture>
          </div>
          <div class="slider-item" id="slide-2">
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/soft-corner-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/soft-corner-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/soft-corner-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/soft-corner-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/soft-corner-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/soft-corner-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider card-right"
                src="./img/1-room-luxe-for-2-adult/soft-corner-desk.jpg"
                alt="М'який диван"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/cafeteria-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/cafeteria-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/cafeteria-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/cafeteria-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/cafeteria-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/cafeteria-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider"
                src="./img/1-room-luxe-for-2-adult/washbasin-desk.jpg"
                alt="Кафетерій"
              />
            </picture>
          </div>
          <div class="slider-item" id="slide-3">
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/bath-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/bath-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/bath-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/bath-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/bath-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/bath-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider card-right"
                src="./img/1-room-luxe-for-2-adult/bath-desk.jpg"
                alt="Ванна"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/coffee-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/coffee-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/coffee-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/coffee-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/coffee-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/coffee-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider"
                src="./img/1-room-luxe-for-2-adult/coffee-desk.jpg"
                alt="Заварювання кави"
              />
            </picture>
          </div>
          <div class="slider-item" id="slide-4">
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/dessert-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/dessert-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/dessert-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/dessert-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/dessert-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/dessert-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider card-right"
                src="./img/1-room-luxe-for-2-adult/dessert-desk.jpg"
                alt="Десерти"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/washbowl-desk.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/washbowl-desk@2x.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/washbowl-tab.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/washbowl-tab@2x.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./img/1-room-luxe-for-2-adult/washbowl-mob.jpg    1x,
                  ./img/1-room-luxe-for-2-adult/washbowl-mob@2x.jpg 2x
                "
                media="(max-width:414px)"
              />
              <img
                class="double-room-slider"
                src="./img/1-room-luxe-for-2-adult/washbowl-desk.jpg"
                alt="Умивальник"
              />
            </picture>
          </div>
        </div>
        <div class="slider-controls">
          <button class="slider-prev">
            <svg class="double-room-icon" width="32" height="32">
              <use
                href="./img/1-room-luxe-for-2-adult/room-icons.svg#icon-back-arrow"
              ></use>
            </svg>
          </button>
          <a href="#slide-1" class="slider-control active visually-hidden">1</a>
          <a href="#slide-2" class="slider-control visually-hidden">2</a>
          <a href="#slide-3" class="slider-control visually-hidden">3</a>
          <a href="#slide-4" class="slider-control visually-hidden">4</a>
          <button class="slider-next">
            <svg class="double-room-icon" width="32" height="32">
              <use
                href="./img/1-room-luxe-for-2-adult/room-icons.svg#icon-forward-arrow"
              ></use>
            </svg>
          </button>
        </div>
        <div class="hotel-double-room-buttons">
          <a class="hotel-double-room-link" href="./room.html"> Детальніше </a>
          <button
            type="button"
            class="hotel-double-room-button"
          >
            Переглянути ціни
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
