<section class="about-our-kitchen">
  <div class="about-kitchen-container">
    <div class="first-content-parts">
      <div class="text-content">
        <h2 class="visually-hidden"></h2>
        <p class="main-text">Amet minim mollit non</p>
        <p class="about-logo">MIMIHO</p>
        <p class="side-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="img-content">
        <picture>
          <source
            srcset="
              ./img/about-our-kitchen/desktop/people-desktop.jpg    1x,
              ./img/about-our-kitchen/desktop/people-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-our-kitchen/tablet/people-tablet.jpg    1x,
              ./img/about-our-kitchen/tablet/people-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-our-kitchen/mobile/people-mobile.jpg    1x,
              ./img/about-our-kitchen/mobile/people-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            class="first-img"
            src="./img/about-our-kitchen/desktop/people-desktop.jpg"
            alt="people on kitchen"
          />
        </picture>
      </div>
    </div>
    <div class="restourant-content">
      <div class="restourant-content-img">
        <picture>
          <source
            srcset="
              ./img/about-our-kitchen/desktop/meat-desktop.jpg    1x,
              ./img/about-our-kitchen/desktop/meat-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-our-kitchen/tablet/meat-tablet.jpg    1x,
              ./img/about-our-kitchen/tablet/meat-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-our-kitchen/mobile/meat-mobile.jpg    1x,
              ./img/about-our-kitchen/mobile/meat-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            class="second-img"
            src="./about-our-kitchen/desktop/meat-desktop.jpg"
            alt="meat"
          />
        </picture>
      </div>
      <div class="restourant-content-text">
        <p class="minor-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="slider-content-img">
      <ul class="about-img-list">
        <li class="about-img-item">
          <picture>
            <source
              srcset="
                ./img/about-our-kitchen/desktop/hand-desktop.jpg    1x,
                ./img/about-our-kitchen/desktop/hand-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/about-our-kitchen/tablet/hand-tablet.jpg    1x,
                ./img/about-our-kitchen/tablet/hand-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./img/about-our-kitchen/mobile/hand-mobile.jpg    1x,
                ./img/about-our-kitchen/mobile/hand-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="slider-first-img"
              src="./img/about-our-kitchen/desktop/hand-desktop.jpg"
              alt="hand with flour"
            />
          </picture>
        </li>
        <li class="about-img-item">
          <picture>
            <source
              srcset="
                ./img/about-our-kitchen/desktop/food-desktop.jpg    1x,
                ./img/about-our-kitchen/desktop/food-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/about-our-kitchen/tablet/food-tablet.jpg    1x,
                ./img/about-our-kitchen/tablet/food-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./img/about-our-kitchen/mobile/food-mobile.jpg    1x,
                ./img/about-our-kitchen/mobile/food-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="slider-second-img"
              src="./img/about-our-kitchen/desktop/food-desktop.jpg"
              alt="food on table"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="slider-kitchen">
      <button class="left-btn">
        <svg class="about-icon" width="32px" height="32px">
          <use href="./img/about-our-kitchen/symbol-defs.svg#icon-left"></use>
        </svg>
      </button>
      <button class="right-btn">
        <svg class="about-icon" width="32px" height="32px">
          <use href="./img/about-our-kitchen/symbol-defs.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
