<section class="menu-section menu-conteiner">
    <div class="restorent-wrap">
    <h2 id="menu" class="restorant-menu">МЕНЮ РЕСТОРАНУ </h2>
    <div class="tablet-wrap">
    <div class="half-wrap">
    <p class="menu-title">Гарячі страви</p>
<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Борщ з телятини з квасолею</span> Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
    <td class="gram">400 г</td>
    <td class="cost">240 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Суп сирний з куркою</span> Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
    <td class="gram">400 г</td>
    <td class="cost">200 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Паста карбонара</span>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
    <td class="gram">350 г</td>
    <td class="cost">430 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Стейк зі свинини</span>Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
    <td class="gram">400 г</td>
    <td class="cost">500 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Горбуша в соусі з білого вина</span>Ніжна горбуша, вершковий соус на основі білого вина</td>
    <td class="gram">400 г</td>
    <td class="cost">400 грн</td>
</tr>
</table>





<p class="menu-title">Гарніри та закуски</p>
<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Запечені овочі</span>Кабачок, перець, помідор, баклажан</td>
    <td class="gram">200 г</td>
    <td class="cost">230 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Картопля фрі</span>Картопля, соус томатний</td>
    <td class="gram">150 г</td>
    <td class="cost">160 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Картопля по-селянськи</span>Картопля, спеції, соус пікантний</td>
    <td class="gram">150 г</td>
    <td class="cost">160 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Хрумкі соління з бочки</span>Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
    <td class="gram">250 г</td>
    <td class="cost">350 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Крильця курячі в медовому соусі</span>Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</td>
    <td class="gram">400 г</td>
    <td class="cost">420 грн</td>
</tr>
</table>
</div>
<div class="half-wrap-second">
<p class="menu-title">Салати</p>
   
<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Цезар з куркою</span>Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
    <td class="gram">230 г</td>
    <td class="cost">450 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Цезар з креветками</span>Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
    <td class="gram">230 г</td>
    <td class="cost">300 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">Грецький салат</span>Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
    <td class="gram">230 г</td>
    <td class="cost">280 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="text"><span class="sub-title">М’ясний салат</span>Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
    <td class="gram">230 г</td>
    <td class="cost">300 грн</td>
</tr>
</table>



<p class="menu-title">Десерти </p>


<table>
<tr class="tr">
   
    <td class="sub-title">Чай чорний/зелений</td>
    <td class="gram">230 г</td>
    <td class="cost">300 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="sub-title">Торт маковий</td>
    <td class="gram">230 г</td>
    <td class="cost">280 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="sub-title">Тірамісу</td>
    <td class="gram">230 г</td>
    <td class="cost">300 грн</td>
</tr>
</table>

<p class="menu-title">Напої </p>


<table>
<tr class="tr">
   
    <td class="sub-title">Чай чорний/зелений</td>
    <td class="gram">500 мл</td>
    <td class="cost">100 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="sub-title">Еспресо</td>
    <td class="gram">30 мл</td>
    <td class="cost">100 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="sub-title">Американо</td>
    <td class="gram">150 мл</td>
    <td class="cost">100 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="sub-title">Капучино</td>
    <td class="gram">200 мл</td>
    <td class="cost">100 грн</td>
</tr>
</table>


<table>
<tr class="tr">
   
    <td class="sub-title">Лате</td>
    <td class="gram">200 мл</td>
    <td class="cost">100 грн</td>
</tr>
</table>
<div class="menu-btn-section">
<button type="button" class="menu-btn">Забронювати столик</button></div>
    </div>
</div>
</div>
</section>