<section class="numbers-description">
  <div class="numbers-container">
    <div class="numbers-description-header-wrap">
      <h2 class="numbers-h2">ЗРУЧНОСТІ У НОМЕРІ</h2>
      <p class="numbers-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <ul>
      <li>
        <h3 class="numbers-h3">ЗАГАЛЬНІ</h3>
        <div class="numbers-discription-list">
          <p class="numbers-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="numbers-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <h3 class="numbers-h3">ВАННА КІМНАТА</h3>
        <div class="numbers-discription-list">
          <p class="numbers-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="numbers-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <h3 class="numbers-h3">СПАЛЬНЯ</h3>
        <p class="numbers-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <h3 class="numbers-h3">КУХНЯ</h3>
        <div class="numbers-discription-list">
          <p class="numbers-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="numbers-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <h3 class="numbers-h3">МЕДІА</h3>
        <p class="numbers-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>

    <button type="button" class="number-booking-modal-button">
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
    <div class="numbers-backlink-wrap">
      <a class="numbers-backlink" href="../../hotel.html">
        <p>Повернутися до перегляду номерів</p>
        <svg class="numbers-backlink-icon" width="22.43" height="12.42">
          <use href="./img/room/sprite.svg#point"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
