<section class="numbers-hero">
  <div class="numbers-container">
    <button type="button" class="room-hero-btn btn-left">
      <svg class="btn-switch-icon" width="37.38" height="21.03">
        <use href="./img/room/sprite.svg#hero-btn-left"></use>
      </svg>
    </button>
    <button type="button" class="room-hero-btn btn-right">
      <svg class="btn-switch-icon" width="37.38" height="21.03">
        <use href="./img/room/sprite.svg#hero-btn-right"></use>
      </svg>
    </button>
    <h1 class="numbers-h1">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="numbers-hero-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero-wrap">
      <div class="numbers-adress">
        <a
          href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5991975,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463?hl=uk"
          target="_blank"
          rel="noreferrer noopener"
          class="social-link"
        >
          <svg width="10px" height="15.99px" class="location-icon-room">
            <use href="./img/room/sprite.svg#hotels-adress"></use>
          </svg>
        </a>
        <address>
          <a
            href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5991975,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463?hl=uk"
            target="_blank"
            rel="noreferrer noopener"
            class="adress-text"
          >
            Україна, м. Полтава,<br> вул. Маршала Бірюзова, 15
          </a>
        </address>
      </div>
      <ul class="numbers-hero-socials">
        <li class="numbers-social-item">
          <a href="" class="social-link">
            <svg width="22" height="22" class="social-link-icon">
              <use href="./img/room/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="numbers-social-item">
          <a href="" class="social-link">
            <svg width="20" height="20" class="social-link-icon">
              <use href="./img/room/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="numbers-social-item">
          <a href="" class="social-link">
            <svg width="19.5" height="17.51" class="social-link-icon">
              <use href="./img/room/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="number-price-modal-button"
        data-modal-open-room-price-modal-window
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
