<section class="numbers-hero">
  <div class="numbers-container">
    <button type="button" class="room-hero-btn btn-left">
      <svg class="btn-switch-icon" width="37.38" height="21.03">
        <use href="./img/room/sprite.svg#hero-btn-left"></use>
      </svg>
    </button>
    <button type="button" class="room-hero-btn btn-right">
      <svg class="btn-switch-icon" width="37.38" height="21.03">
        <use href="./img/room/sprite.svg#hero-btn-right"></use>
      </svg>
    </button>
    <h1 class="numbers-h1">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="numbers-hero-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero-wrap">
      <div class="numbers-adress">
        <a href="" class="social-link">
          <svg width="10px" height="15.99px">
            <use href="./img/room/sprite.svg#hotels-adress"></use>
          </svg>
        </a>
        <p class="adress-text">
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </p>
      </div>
      <ul class="numbers-hero-socials">
        <li class="numbers-social-item">
          <a href="" class="social-link">
            <svg width="22" height="22">
              <use href="./img/room/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="numbers-social-item">
          <a href="" class="social-link">
            <svg width="20" height="20">
              <use href="./img/room/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="numbers-social-item">
          <a href="" class="social-link">
            <svg width="19.5" height="17.51">
              <use href="./img/room/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="number-price-modal-button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
