
    /*============================MOBILE-CONTACTS===========================*/

    @media screen and (max-width:1024px) {
        .container {
            max-width: 414px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    
    /*============================MOBILE-CONTACTS-STYLE===========================*/
    .contacts-box-contacts {
        background: #ffeef4;
    }
    
    .contacts-logo {
        font-family: 'Film P3';
        font-weight: 700;
    font-size: 40px;
    line-height: calc(43/40);
    letter-spacing: 0.3em;
    color: #494848;
    text-align: left;
    margin-top: 36px;
    margin-bottom: 5px;
    }
    
    .contacts-name {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: #7A7A7A;
    text-align: left;
    margin-bottom: 24px;
    }
    
    .contacts-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #C79002;
    }
    .contacts-social-list-link {
        fill: #C79002;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .contacts-social-list-link :hover,
.contacts-social-list-link :focus,
.contacts-social-list-link :active {
    border: 1px solid #605B5B;
    background-color: #605B5B;
}


    .contacts-phone {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #494848;
    }
    
    .contacts-maps-size {
        display: block;
    }
    
    .contacts-addres {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.01em;
    color: #494848;
    }
    
    /*============================MOBILE-CONTACTS-POZITION===========================*/
    
    .contacts-maps-box {
        width: 384px;
        height: 220px;
        background: url(.png);
        border: 1px solid #BABABA;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-bottom:  32px;
        }


        .map-hotel-tablet {
            display: none;
        }
        .map-hotel-pc {
            display: none;
        }
        
    .map-hotel-mobil {
        display: block; 
        flex-wrap: nowrap; 
        padding-bottom: 32px;
    }

.contacts-list-polarity {
    display: flex;
}
.contacts-logo {
    padding-top: 34px;
margin-bottom: 12px;
flex-wrap: nowrap;

}

.contacts-link-restoran  {
    margin-right: 36px;
    margin-bottom: 32px;
}

.contacts-phone {
    margin-left: 12px;
    
}

.contacts-link-hotel {
    display: flex;
    margin-right: 66px;
}
.contacts-addres-container {
    padding-left: 137px;
    padding-right: 33px;
    margin-bottom: 39px;
    margin-top: 24px;
}
.contacts-addres-box {
    margin-left: 14px;
}
.contacts-phone-box {
    display: flex;
    align-items: center;
}

    
    }
    
    
    /*============================TABLET===========================*/
    
    @media screen and (min-width:1014px) {
    
        .container {
            width: 1014px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    
    /*============================TABLET-CONTACTS-STYLE===========================*/
    .contacts-box-contacts {
        background: #ffeef4;
    }
    
    .contacts-logo-text {
        font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: calc(69/64);
        letter-spacing: 0.3em;
        color: #494848;
    }
    
    .contacts-name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.02em;
        color: #7A7A7A;
        
    }
    
    .contacts-link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;    
        color: #C79002;
    }
    
    .contacts-social-list-link {
        fill: #C79002;
    }
    .contacts-phone {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;    
        color: #494848;
    }
    
    .contacts-maps-size {
        display: block;
    }
    
    .contacts-addres {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.01em;    
        color: #494848;
    }
    
    /*============================TABLET-CONTACTS-POZITION===========================*/
    
    .contacts-maps-box {
        /* width: 535px;
        height: 412px;    */
            margin-left: auto;
            margin-right: auto;
        background: url(.png);
        border: 1px solid #BABABA;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin: 0;
        margin-bottom: 40px;
        }

        .map-hotel-mobil {
            display: none;
        }

        .map-hotel-pc {
            display: none;
        }
        .map-hotel-tablet {
            display: block;
        }
.contact-container-map {
    display: flex;
}
.contact-container-map {
    padding-top: 56px;
    padding-left: 32px;
}
.contacts-logo {
    margin-bottom: 8px;
}
.contacts-name {
    margin-bottom: 52px;
}
.contacts-phone-box {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.contacts-list-polarity-pc {
    display: flex;
    
}
.contacts-link-restoran {
    margin-bottom: 19px;
}
.contacts-link-hotel {
    margin-bottom: 19px;
}
.contacts-phone {
    margin-left: 14px;
}
.contacts-addres {
    width: 233px;
    margin-left: 14px;
}
.contacts-social-list-link {
    margin-left: 14px;
}
.contacts-addres-container {
    margin-top: 48px;
}
.container-map-left {
    width: 1014px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
}


    }
    
    /*============================PC===========================*/
    
    @media screen and (min-width:1280px) {
    
        .container {
            width: 1280px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    
    /*============================PC-CONTACTS-STYLE===========================*/
    .contacts-box-contacts {
        background: #ffeef4;
    }
    
    .contacts-logo {
        font-family: 'Film P3';
        font-weight: 700;
    font-size: 40px;
    line-height: calc(43/40);
    letter-spacing: 0.3em;
    color: #494848;
    text-align: left;
    margin-top: 36px;
    margin-bottom: 5px;
    }
    
    .contacts-name {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: #7A7A7A;
    text-align: left;
    margin-bottom: 24px;
    }
    
    .contacts-link {
        padding-right: 22px;
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #C79002;
    }
    .contacts-social-list-link {
        fill: #C79002;
    }
    .contacts-phone {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #494848;
    }
    
    .contacts-maps-size {
        display: block;
    }
    
    .contacts-addres {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.01em;
    color: #494848;
    }
    
    /*============================PC-CONTACTS-POZITION===========================*/
    
    .contacts-maps-box {
        width: 634px;
        height: 412px;
        background: url(.png);
        border: 1px solid #BABABA;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        }
    .map-hotel-mobil {
        display: none;
    }
    .map-hotel-tablet {
        display: none;
    }

    .map-hotel-pc {
        display: block;
    }
    .contact-container-map {
        padding-top: 56px;
    }
    .contacts-logo {
        margin-top: 0px;
        margin-bottom: 16px;
    }
.contacts-name {
    margin-bottom: 40px;
}

.contacts-link {
    margin-bottom: 19px;
}



    
    }


    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }