.container_hotel-details{
  margin: 0 auto;
}

@media (min-width:1024px){
.hotel-details{
  padding:46px;
  }

.hotel-details__logo{
    font-family: 'Film P3 bold';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.078;
    }
}

.logo{
font-family: 'Film P3 bold';
font-weight: 700;
font-size: 40px;
line-height: 1.075;
letter-spacing: 0.3em;

color:#FFFFFF;
text-align: center;
}

.hotel-details{
padding-top:24px;
padding-bottom:40px;
background-color: #000000B2;
}

.hotel-details__overlay{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../hotel-details/mob-background.jpg');
background-repeat: no-repeat;
background-size: cover;
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hotel-details__overlay {
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../hotel-details/mob-background-2x.jpg');
}
}


@media screen and (min-width: 414px) {
  .container_hotel-details{
  width:414px;
  }
}

@media screen and (min-width: 1024px) {
  body {
      font-size: 16px;
      line-height: 1.25;
  }
  .container_hotel-details{
      width:1024px;
  }

  .hotel-details__overlay{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../hotel-details//tab-background.jpg');
    background-repeat: no-repeat;
     background-size: cover;
  }
}

@media (min-width: 1024px) and (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hotel-details__overlay {
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../hotel-details/tab-background-2x.jpg');
}
}

@media screen and (min-width: 1280px) {
  .container_hotel-details{
      width:1280px;
  }

  .hotel-details__overlay{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../hotel-details/desktop-background.jpg');
    background-repeat: no-repeat;
     background-size: cover;
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hotel-details__overlay {
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../hotel-details/desktop-background-2x.jpg');
}
}

.hotel-details__headline{
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
  margin-top:12px;
  margin-bottom:20px;
    }

    @media (min-width:1024px){
      .hotel-details__headline{
     font-size: 24px;
    line-height: 1.20;
      margin-right:15px;
      }
    }

    .hotel-details__grey-text{
      color: #7A7A7A;
    }

    @media (min-width:414px){
      .hotel-details__grey-text{
     width:243px;
     margin-left:32px;
      }
    }

    @media (min-width:1024px){
      .hotel-details__grey-text{
    font-size: 16px;
    line-height: 1.25;
    width:549px;
    margin-left:0px;
    text-align: right;
    }

    .hotel-details__text-wrap{
      width:549px;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
    }
  }

  @media screen and (min-width: 1280px){
    .hotel-details__text-wrap{
      width:595px;
      margin-left:175px;
    }
  }


.slider{
  position: relative;
  overflow: hidden;
  
  display:flex;
  gap:20px;
  margin-bottom:27px;
  margin-top:32px;
}
.hotel-details__slider{
  margin-bottom:23px;
}

@media (min-width:1024px){
  .mob-menu-slider{
    display:none;
  }
  .slider{
    gap:0;
  }
}

@media (max-width:1279px){
.desktop-menu__slider{
  display:none;
}
}

@media (min-width:1280px){
.tab-menu__slider{
display:none;
}
}

.tab-menu__slider{
  align-items: end;
}
@media (max-width:1023px){
  .tab-menu__slider{
    display:none;
  }
}

.desktop-menu__slider{
  align-items: end;
}

.hotel-details__slider-nav{
 display:flex;
 justify-content: end;
 fill: #FFFFFF;
}

.hotel-details__right-arrow{
  margin-right:43px;
  margin-left:34px;
}

@media (min-width:1024px){
  .hotel-details__right-arrow{
  margin-right:269px;
}}

@media (min-width:1280px){
  .hotel-details__right-arrow{
    margin-right: 420px;
}}

.slide2{
  margin-right:84px;
}

@media screen and (min-width:1024px) {
  .slide{
margin-right:34px;
}
}


.buttons-container{
display:flex;
flex-direction: column;
align-items: center;
}
.button{
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  padding: 14px 24px;
  width: 236px;
  color: #F3C653;
  background-color:#000000B2;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.25;
text-align: center;
letter-spacing: 0.02em;
text-decoration: none;
}

.book-btn{
  margin-top:40px;
  margin-bottom:16px;
}
@media (min-width:1280px){
  .book-btn{
    margin-top:0px;
  }
}

.button:hover, 
.button:focus{
  background-color:#FFFFFF;
}

@media (min-width:1024px){
  .buttons-mobile{
    display:none;
  }
}

@media (max-width:1023px){
  .buttons-tablet{
    display:none;
  }
}   
.hotel-details__left-arrow:hover,
.hotel-details__left-arrow:focus{
  fill:#F3C653;
}

.hotel-details__right-arrow:hover,
.hotel-details__right-arrow:focus{
  fill: #F3C653;
}
